<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <li><%= choose_operation '本を予約したい', 0  %></li>
  <li><%= choose_operation '本を借りたい',   1 %></li>
  <li><%= choose_operation '本を返却したい', 2 %></li>
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">検索</h4>
      </div>
      <div class="modal-body" style="height:100px;">
        <%= show_search_box %>
      </div>
    </div>
  </div>
</div>